stages:
  - deploy

deploy:
  stage: deploy
  image: alpine:3.19
  before_script:
    - apk add --no-cache openssh-client
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
    - mkdir -p ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n" > ~/.ssh/config
  script:
    - ssh $SSH_USER@$SSH_HOST "cd /var/www/wms/front && git pull && docker build -t ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}:${CI_PIPELINE_IID} ."
    - ssh $SSH_USER@$SSH_HOST "docker stop dormitory-app || true && docker rm dormitory-app || true"
    - ssh $SSH_USER@$SSH_HOST "docker run -d -p 3000:3000 --name dormitory-app ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}:${CI_PIPELINE_IID}"
  only:
    - main