$inter-family: "Inter";
$font-format: "truetype";

$fonts: (
  bold: 700,
  semiBold: 600,
  medium: 500,
  regular: 400,
);

@each $style, $weight in $fonts {
  @include font-face(
    $inter-family,
    "@/assets/fonts/inter/#{$style}.ttf",
    $weight,
    $font-format
  );
}
