* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  --el-component-size: 40px;
  --el-component-size-large: 48px;
  --el-component-size-small: 32px;
  --el-border-radius-base: 8px;
  --el-border-color: #eeeeef;
  --el-color-danger: #e12121;
  --el-popover-border-radius: 8px;
  --el-border-color-light: #e2e6f3;
  --el-bg-color-overlay: var(--white-blue);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.nested-enter-active,
.nested-leave-active {
  transition: all 0.2s ease;
}

.nested-leave-active {
  transition-delay: 0.01s;
}

.inner {
  width: 100%;
  height: 100%;
}

.nested-enter-from,
.nested-leave-to {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  transform: translateX(30px);
  opacity: 0;
}

.nested-enter-active .inner,
.nested-leave-active .inner {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.nested-enter-active .inner {
  transition-delay: 0.25s;
}

.nested-enter-from .inner,
.nested-leave-to .inner {
  transform: translateX(30px);
  overflow: hidden;
  opacity: 0.0001;
}
