@import '@/assets/styles/mixins';
@import '@/assets/styles/fonts';
@import '@/assets/styles/settings';
@import '@/assets/styles/tailwind';
@import "@/assets/styles/components/ui/app-form";
@import "@/assets/styles/components/ui/app-tab";
@import "@/assets/styles/components/ui/app-switch";
@import "@/assets/styles/components/ui/app-checkbox";


html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #F8F9FC #f1f1f1;
}


.custom-filter-btn {
  background-color: var(--white-blue);
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #4F5662;
  font-size: 18px;
}

.custom-reset-btn {
  padding: 10px 20px;
  color: #EA5455;
  border-radius: 10px;
}

.custom-apply-btn {
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  background-color: #2E90FA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.custom-white-btn {
  padding: 10px 20px;
  color: #4F5662;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  background-color: #F8F9FC;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-cancel-btn {
  padding: 10px 20px;
  color: #4F5662;
  border-radius: 10px;
  font-size: 14px;
  background-color: #E2E6F3;
}

.custom-danger-btn {
  padding: 10px 20px;
  color: #FFFFFF;
  border-radius: 10px;
  font-size: 14px;
  background-color: #EA5455;
}

.custom-send-btn {
  padding: 10px 20px;
  color: white;
  border-radius: 10px;
  font-size: 14px;
  background-color: #28C76F;
}

.action-btn {
  background-color: #f8f9fc;
  border-radius: 8px;
  padding: 8px;
}

.el-pagination {
  button {
    background-color: var(--white-blue) !important;
    border-radius: 8px;
    height: 40px;
    width: 40px;

    .el-icon {
      display: inherit !important;
    }
  }

  ul {
    .is-active {
      background-color: #2E90FA !important;
      border-radius: 8px;
    }

    li {
      background-color: var(--white-blue) !important;
      height: 40px;
      width: 40px;
    }
  }
}

.el-table .cell {
  //padding: 0 1!important;
}

.custom-element-table {
  border-radius: 15px !important;
  border: 1px solid #e2e6f3 !important;

  thead th {
    color: #4f5662;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-align: left;
    background-color: var(--white-blue) !important;
    padding: 14px 16px !important;
  }

  thead tr:first-child th:first-child {
    border-top-left-radius: 10px;
  }

  thead tr:first-child th:last-child {
    border-top-right-radius: 10px;
  }

  tbody td {
    padding: 14px 16px !important;
  }

  tbody tr:last-child td:first-child {
    border-bottom-left-radius: 10px !important;
  }

  tbody tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
  }
}
.el-dialog {
  background-color: #f8f9fc;
  border-radius: 15px;
}