@import '@/assets/styles/mixins';
@import '@/assets/styles/fonts';
@import '@/assets/styles/settings';
@import '@/assets/styles/tailwind';


.custom-filter-btn {
  background-color: #f8f9fc;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-radius: 10px;
  color: #4F5662;
  font-size: 18px;
}