@import '@/assets/styles/mixins';
@import '@/assets/styles/fonts';
@import '@/assets/styles/settings';
@import '@/assets/styles/tailwind';

.custom-input {
  outline: none;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1.5px solid #EEEEEF;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #A8AAAE;
}